@media (max-width: 1500px) {
	.price_img_box img {
    width: 100%;
}
.map_section_price {
    margin-left: 80px;
}
.price_content {
    margin-left: -32px;
    width: 92%;
}
.price_section_tow .price_content {
    width: 92%;
    margin-left: 88px;
}
.price_section_tow .map_section_price {
    margin-left: 32px;
}
.content_box_bg h3 {
    font-size: 18px;
    line-height: 22px;
}
.content_box_bg p {
    font-size: 14px;
    line-height: 18px;
}
.slider_box_inner .swiper-slide {
    height: 477px;
}
.price_section_tow .price_img_box img {
    left: 35px;
}
}	
@media (max-width: 1400px) {
.moving_company .section_title {
    width: 100%;
    margin: 0 auto;
}
.content_con h3 {
    font-size: 24px;
    line-height: 32px;
}
.made_easy_section .row:after {
    left: 556px;
}
.made_easy_section .row:before {
    left: 94px;
}
.made_box_bg {
    position: relative;
    left: -68px;
}
.map_section_price {
    margin-left: 52px;
}
.price_content {
    width: 100%;
}
.price_section_tow .price_content {
    width: 98%;
    margin-left: 50px;
}
.slider_box_inner .swiper-slide {
    height: 357px;
}
.slider_box_inner {
    left: 39px;
}
}